<% include ../partials/_header.ejs %>
  <body class="">
    <div class="page">
      <div class="page-main">
        <% include ../partials/_topbar.ejs %>
        <% include ../partials/_navbar.ejs %>
        <div class="my-3 my-md-5">
          <div class="container">









          </div> 
        </div>
      </div>
      <% include ../partials/_footer.ejs %>
    </div>
  </body>
</html>